.profile_page{
    display: flex;
    justify-content: center;
}
.title{
    position: absolute;
    top: calc(1vw + 0.1rem);
    left: calc(10.3vw + 4rem);
    font-size: calc(2vw + 0.7rem);
    cursor: pointer;
}
