.trust{
    background-color: #00A671
    ;
    color: white;
    padding: calc(3vw + 0.5rem);

}
.head{
    padding-right: calc(0.4vw + 0.1rem);
    display: flex;
    align-items: center;
    gap: calc(0.3vw + 0.05rem);
}
.head span{
    font-size: calc(0.9vw + 0.2rem);
    font-weight: 400;
}
.title{
    font-size: calc(1.2vw + 0.3rem);
    font-weight: bold;
    margin-bottom: calc(1.2vw + 0.3rem);
}
.title img{
    width: calc(2vw + 0.5rem);
}
.title span{
    font-size: calc(0.9vw + 0.2rem);
}
.text{
    font-size: calc(1vw + 0.3rem);
}