.header{
    padding: calc(0.4vw + 0.05rem);
    background-color: #ffffff;
    border-bottom: black solid 1px;
}
.mainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right,
.left{
    display: flex;
    align-items: center;
}
.right{
    gap: calc(0.9vw + 0.2rem);
}
.brand_title{
    font-size: calc(1.5vw + 0.6rem);
}
.brand_logo{
    width: calc(4.5vw + 1.3rem);
}
.lists{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.hive{
    display: inline;
}
.p2{
    background-color: #58c5ce;
    border: none;
    color: white;
    padding: calc(0.7vw + 0.03rem) calc(1.3vw + 0.8rem);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    /* margin: 0 8px; */
    cursor: pointer;
    font-size: calc(0.9vw + 0.15rem);
}
.p2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.p1{
    background-color: transparent;
    color: black;
    padding: calc(0.7vw + 0.03rem) calc(1.3vw + 0.8rem);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    border: calc(0.09vw + 0.01rem) solid #BEBEBE;
    /* margin: 0 8px; */
    cursor: pointer;
    font-size: calc(0.9vw + 0.15rem);
}
.p1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}