.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #FAFAFA;
    padding: 20px;
    margin-bottom: 45px;
}
.textBigContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer {

    border-radius: 14px;
    padding: 20px;
    margin-bottom: 30px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    display: flex;
    flex-direction: column;


}
.textContainer::first-letter{
    text-transform: uppercase;

}

.text {
    font-size: 30px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

}





.button {
    margin: 2px auto;

    width: 220px;
    height: 67px;
    background-color: #FFBC3A;
    border: 1px solid rgba(116, 116, 116, 0.5);;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-radius: 27px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
padding-top: 15px;
    text-align: center;
}

