.parent{
    display: flex;
    justify-content: center;
    padding-top: calc(1.5vw + 0.6rem);
    margin-bottom: calc(1.5vw + 0.5rem);
}
.parent input{
    border: 0;
    background-color: rgba(0,0,0, 0.0);
    width: calc(30vw + 5rem);
    font-size: calc(0.9vw + 0.2rem);
    color: #393939;
}
.inner_parent{
    display: flex;
    gap: calc(1.9vw + 0.3rem);
    background-color: #EFEFEF;
    padding: calc(0.6vw + 0.05rem) calc(0.8vw + 0.1rem);
    border-radius: 30px;
    border: #CBCBCB calc(0.05vw + 0.01rem) solid;
}
.parent input:focus-visible{
    outline: 0;
}
.search_btn{
    width: calc(1.45vw + 0.3rem);
    margin-right: calc(1vw + 0.1rem);
}
.category_btn{
    font-size: calc(1.1vw + 0.2rem);
    padding: calc(0.4vw + 0.05rem) calc(1.5vw + 0.3rem);
    border: 0;
    border-radius: 20px;
    background-color: #D9D9D9;
    cursor: pointer;
}
.category_btn.active{
    color: white;
}