.posts{
    margin: 0 calc(1.9vw + 0.6rem) 0 calc(1.9vw + 0.6rem);
}
.parent{
    display: flex;
}
.type1_right{
    flex: 1;
    padding-left: calc(0.7vw + 0.3rem);
    display: flex;
    flex-wrap: wrap;
}
.type1_left{
    flex: 1;
    padding-right: calc(0.7vw + 0.3rem);
}
.type2_right{
    flex: 1;
    padding-left: calc(0.7vw + 0.3rem);
    display: flex;
    flex-wrap: wrap; 
}
.type2_center{
    flex: 2;
    padding: 0 calc(0.7vw + 0.3rem) 0 calc(0.7vw + 0.3rem);
}
.type2_left{
    flex: 1;
    padding-right: calc(0.7vw + 0.3rem);
    display: flex;
    flex-wrap: wrap;
}
.type3_right{
    flex: 1;
    padding-left: calc(0.7vw + 0.3rem);  
}
.type3_left{
    flex: 1;
    padding-right: calc(0.7vw + 0.3rem);
    display: flex;
    flex-wrap: wrap;
}