.container{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    min-height: 100vh;
    align-items: center;
}
.formContainer{
    border: 1px solid #000000;
    width: fit-content;
    padding: 20px 40px;
    margin: 50px;
    border-radius: 20px;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;


}
.header{
    text-align: center;
    margin-bottom: 60px;
    font-size: calc(1.9vw + 0.6rem);
    color: #000000;
    padding-top: 5px;
}
.formField{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formInput{
    width: calc(17vw + 4.5rem);
    border-radius: 14px;
    padding: calc(0.7vw + 0.05rem);
    background-color: #F3F2F2;
    border: none;
    font-size: calc(1vw + 0.1rem);
}
.formInput::placeholder{

    color: #A3A3A3;
}

.formInput:focus,
.uncompleted:focus {
    outline: none;
    border: none;
}
.formField span {
    min-height: calc(0.8vw + 0.1rem);
    text-align: left;
    margin-top: 3px;
    width: fit-content;
    font-size: calc(0.7vw + 0.08rem);
    color: red;
    padding: 0px 3px;
}
.formField::placeholder{
    color: black;
}
.formButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 4px 0 25px 0;
}
.formButtons button {
    cursor: pointer;
    background-color: #00A1B5;
    padding: calc(0.7vw + 0.15rem) calc(2vw + 0.3rem);
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: calc(1.2vw + 0.25rem);
    cursor: pointer;
}
.formButtons button:hover {
    background-color: #004aaa;
}
.lists{
    color: #000000;
    text-decoration: none;
    transition: all 0.1s ease-in;
    font-weight: 700;
    padding: 5px 0;
    border-bottom: solid black 1px;
}
.lists:hover{
    color: #3c85ce;

}
.listContainer{
    margin-top: 12px;
}
.uncompleted{
    width: 300px;
    height: 30px;
    border-radius: 14px;
    padding: 5px 10px;

    transition: all 0.2s ease-in;
    background-color: #F3F2F2;
    border: none;
}
.uncompleted::placeholder{
    color: #A3A3A3;
}
.errorSpan{
    display: flex;
    flex-direction: column;
    height: fit-content;
}