.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    position : fixed;
    top : 50%;
    left : 50%;
    transform : translate(-50%, 50%);
    background-color : white;
    z-index : 10000
}
.MODAL_STYLES{
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    background-color: white;
    z-index:10000 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MODAL_STYLES_HIDDEN{
    display: none;
}
.OVERLAY_STYLES{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,.7) ;
    z-index:10000 ;
}
.OVERLAY_STYLE_LOGIN_CLICKED{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:transparent ;
    z-index:10000 ;
}
.BUTTON_WRAPPER_LOGIN_STYLES{
    position: relative;
    z-index: 1;
}
.formContainer{
    border: 1px solid #000000;
    width: calc(24vw + 4.5rem);
    display: flex;
    flex-direction: column;
    padding: calc(1.3vw + 0.2rem) calc(3vw + 0.3rem) calc(3.5vw + 0.6rem) calc(3vw + 0.3rem);
    margin: 50px;
    border-radius: 20px;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    position: relative;

}
.header{
    text-align: center;
    margin-bottom: 60px;
    font-size: calc(1.9vw + 0.6rem);
    color: #000000;
    padding-top: 5px;
}
.formField{
    display: flex;
    flex-direction: column;
}
.formInput{
    width: calc(17vw + 4.5rem);
    border-radius: 14px;
    padding: calc(0.7vw + 0.05rem);
    transition: all 0.2s ease-in;
    background-color: #F3F2F2;
    border: none;
    font-size: calc(1vw + 0.1rem);
}
.formInput::placeholder{

    color: #A3A3A3;
}

.formInput:focus,
.uncompleted:focus {
    outline: none;
    border: none;
    background-color: #F3F2F2;
    padding: calc(0.7vw + 0.05rem);
}
.formField span {
    min-height: calc(0.8vw + 0.1rem);
    text-align: left;
    margin-top: 3px;
    width: fit-content;
    font-size: calc(0.7vw + 0.08rem);
    color: red;
    padding: 0px 3px;
}
.formField::placeholder{

    color: black;
}
.formButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 4px 0 25px 0;
}

.formButtons button {
    background-color: #00A1B5;
    padding: calc(0.7vw + 0.15rem) calc(2vw + 0.3rem);
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: calc(1.2vw + 0.25rem);
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.formButtons button:hover {
    background-color: #004aaa;
}
.lists{
    color: #000000;
    text-decoration: none;
    transition: all 0.1s ease-in;
    font-weight: 700;
    padding: 5px 0;
    border-bottom: solid black 1px;
}
.lists:hover{
    color: #3c85ce;
}
.listContainer{
    margin-top: calc(0.7vw + 0.1rem);
    display: flex;
    position: relative;
    z-index: 1;
}
.uncompleted{
    width: 300px;
    height: 30px;
    border-radius: 14px;
    padding: 5px 10px;

    transition: all 0.2s ease-in;
    background-color: #F3F2F2;
    border: none;
}
.uncompleted::placeholder{

    color: #A3A3A3;
}
.loginP{
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-size: calc(0.9vw + 0.15rem);
    border-bottom: 1px solid black;
    padding-bottom: calc(0.1vw + 0.05rem);
    color: black;
}

.closeButton{
    background-color: transparent;
    border: none;
    font-size: 2px;
    cursor: pointer;

    position: absolute;
    top: 2px;
    right: 2px;
}
.formFieldOpenForget{
    display: none;
}
.ParEmail{
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: black;
    text-align: right;
    margin-bottom: 8px;
}
.Toast{
    z-index: 9999999999;
}
