.my-fundraise-panel {
  display: flex;
  height: calc(38vw + 13rem);
    flex-direction: column;
    /* padding-right: 94px; */
    row-gap: 10px;
    padding: calc(2vw + 1rem) calc(3vw + 1rem);
    background-color: #ffffff;
    /* width: calc(100% - 272px); */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid rgb(18 198 238 / 40%) calc(0.15vw + 0.01rem);
    border-right: none;    /* position: relative; */
    /* left: -40px;*/
}
.create-new-fundraise {
  margin-top: 16px;
  padding: calc(0.9vw + 0.1rem) calc(2vw + 0.5rem);
  background: #00b4e3;
  border-radius: 15px;
  font-weight: 400;
  font-size: calc(1.15vw + 0.5rem);
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.fundraise-panel-items {
  display: flex;
    flex-direction: column;
    row-gap: 13px;
    padding: 18px;
    /* width: 804px; */
    max-height: 719px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.fundraise-panel-item {
  width: calc(40vw + 10rem);
  display: flex;
  flex-direction: row;
  padding: calc(0.7vw + 0.2rem) calc(0.9vw + 0.3rem);
  background: #f2f6ff;
  border: 1px solid #f2f6ff;
  border-radius: 8px;
  height: 806px;
  column-gap: 13px;
}
.fundraise-panel-item-info {
  display: flex;
    flex-direction: column;
    row-gap: calc(0.3vw + 0.1rem);
}
.fundraise-panel-item-title {
  font-weight: 400;
    font-size: calc(1.15vw + 0.5rem);
    /* text-align: center; */
    color: #000000;
}
.fundraise-panel-item-text {
  font-weight: 400;
    font-size: calc(0.9vw + 0.1rem);
    text-align: right;
    color: #000000;
}
.edit-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.image-src{
  width: calc(9vw + 3.5rem);
    height: 100%;
}
.edit-button {
  cursor: pointer;
  width: calc(2vw + 0.5rem);
}
