.new-fundraise-panel {
  display: flex;
  flex-direction: column;
  padding-right: 94px;
  row-gap: 10px;
  padding-left: 68px;
  background-color: #ffffff;
  width: calc(100% - 272px);
  border-radius: 10px 0 0 10px;
}
.new-fundraise-title {
  margin-top: 73px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #000000;
  align-items: flex-end;
}
.new-fundraise-form {
  padding: 12px 24px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 568px;
}
.upload-container {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  align-items: center;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.upload {
  background: #6bc2ff;
  border: 0.25px solid #000000;
  color: white;
  width: 190px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  font-size: 32px;
  color: #ffffff;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
.new-fundraise-form-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 42px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 10px;
  width: 100%;
  margin-bottom: 16px;
}
.button {
  background: #6bc2ff;
  border: 0.25px solid #000000;
  color: white;
  width: 190px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  font-size: 32px;
  color: #ffffff;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
.new-fundraise-form-info-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.new-fundraise-form-info-input {
  width: 241px;
  /* height: 48px; */
  background: #f2f6ff;
  border: 0.25px solid #000000;
  border-radius: 8px;
  font-weight: 400;
  font-size: 28px;
  color: #949494;
  padding: 5px 10px;
  text-align: left;
}
.new-fundraise-form-text-area {
  width: 752.97px;
  height: 203.53px;
  background: #f2f6ff;
  border: 0.25px solid #000000;
  border-radius: 8px;
  font-size: 28px;
  padding: 15px;
}
