@font-face {
    font-family: 'byekan';

    font-weight: normal;
    font-style: normal;
}
.footer
{
    width: 100%;
    height: auto;
    border-top: 2px solid rgb(157, 154, 154);
    padding-top: 10px;
    padding-right: 80px;
    font-family: "byekan";
    position: relative;
}
a
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: block;
   
}
.controll1
{
    margin-right: 140px;

}
.controll2
{
    right: 50%;
    display: block;
position: absolute;
top: 10px;

}
.controll3
{
    right: 70%;
    display: block;
position: absolute;
top: 10px;

}
.controll3 a
{
    width: 20px;
    height: 20px;
   display: flex;
    
}
.img1
{
    position: relative;
    right: 30px;
}
.img
{
    position: relative;
bottom: 20px;
}